﻿@using System.Collections.Generic
@using CodingChallenge.Data.Classes.Informe

@Model CodingChallenge.Data.Dominio.Reporte.Reporte

@{
    var traducciones = Model.Traducciones;
    var informe = Model.Informe;
}

<!-- Comienzo -->

<h1>@traducciones["ReporteFormas"]</h1>

<table>
    <thead>
        <tr>
            <th>@traducciones["Figura"]</th>
            <th>@traducciones["Cantidad"]</th>
            <th>@traducciones["Area"]</th>
            <th>@traducciones["Perimetro"]</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in informe.Items)
        {
            <tr>
                <td>@item.Figura</td>
                <td>1</td>
                <td>@item.Area</td>
                <td>@item.Perimetro</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th colspan="4">@traducciones["Subtotal"]</th>
        </tr>
        @foreach (KeyValuePair<string, SubTotalIforme> subTotal in informe.SubTotales)
        {
            var value = subTotal.Value;

            <tr>
                <td>@subTotal.Key</td>
                <td>@value.Cantidad</td>
                <td>@value.Area</td>
                <td>@value.Perimetro</td>
            </tr>
        }
        <tr>
            <th colspan="4">@traducciones["Total"]</th>
        </tr>
        <tr>
            <td></td>
            <th>@informe.Totales.Cantidad</th>
            <th>@informe.Totales.Area</th>
            <th>@informe.Totales.Perimetro</th>
        </tr>
    </tfoot>
</table>